# backup files
*~

# emacs 
.emacs.d/.cache/
.emacs.d/.org-id-locations
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/bookmarks
.emacs.d/customize.el
.emacs.d/elpa/
.emacs.d/eclipse.jdt.ls/
.emacs.d/history
.emacs.d/local_conf/
!.emacs.d/local_conf/.gitkeep
.emacs.d/.lsp-session*
.emacs.d/network-security.data
.emacs.d/places
.emacs.d/public_repos/
!.emacs.d/public_repos/install-repos.sh
!.emacs.d/public_repos/package_list.txt
.emacs.d/recentf
.emacs.d/url/
.emacs.d/tramp
.emacs.d/workspace/

# peco
peco*
