[init]
	defaultBranch = "main"

[core]
	autoCRLF = false
	quotepath = false
	# pager = "LESSCHARSET=utf-8 less"
	pager = delta
	preloadindex = true
	fscache = true

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	# map-styles = bold purple => syntax magenta, bold cyan => syntax blue

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[user]
	name = "Takayuki Uchida"
	email = jacobitebeerlove@gmail.com

[color]
	ui = true

[push]
	default = simple

[alias]
	lf  = log --graph --date-order --date=format:'%Y/%m/%d %H:%M:%S' --pretty=format:'%Cred%h%Creset - %Cgreen[%cd]%Creset %C(bold blue)<%an>%Creset %C(yellow)%d%Creset %s' --first-parent
	l   = log --graph --date-order --date=format:'%Y/%m/%d %H:%M:%S' --pretty=format:'%Cred%h%Creset - %Cgreen[%cd]%Creset %C(bold blue)<%an>%Creset %C(yellow)%d%Creset %s'
	lfa = log --graph --date-order --date=format:'%Y/%m/%d %H:%M:%S' --pretty=format:'%Cred%h%Creset - %Cgreen[%cd]%Creset %C(bold blue)<%an>%Creset %C(yellow)%d%Creset %s' --all --first-parent
	la  = log --graph --date-order --date=format:'%Y/%m/%d %H:%M:%S' --pretty=format:'%Cred%h%Creset - %Cgreen[%cd]%Creset %C(bold blue)<%an>%Creset %C(yellow)%d%Creset %s' --all

[credential]
	helper = store
[ghq]
	root = ~/projects
