[init]
	defaultBranch = "develop"

[core]
	autoCRLF = false
	quotepath = false
	# pager = "LESSCHARSET=utf-8 less"
	pager = delta
	preloadindex = true
	fscache = true

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	map-styles = bold purple => syntax magenta, bold cyan => syntax blue

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[user]
	name = "Takayuki Uchida"
	email = jacobitebeerlove@gmail.com

[color]
	ui = true

[push]
	default = simple

[alias]
	l     = log --graph --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --first-parent
	lg    = log --graph --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset'
	lga   = log --graph --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --all --first-parent
	lgall = log --graph --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --all

[credential]
	helper = store
