[column]
	ui = auto

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[init]
	defaultBranch = "main"

[core]
	autoCRLF = false
	quotepath = false
	# pager = "LESSCHARSET=utf-8 less"
	pager = delta
	preloadindex = true
	fscache = true
	editor = vim

[interactive]
	diffFilter = delta --color-only

[diff]
	algorithm = histogram
	colorMoved = plain
	renames = true
	mnemonicPrefix = true

[merge]
	conflictstyle = diff3

[user]
	name = "Takayuki Uchida"
	email = jacobitebeerlove@gmail.com

[color]
	ui = true

[push]
	default = simple
	followTags = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[alias]
	lf  = log --graph --date-order --date=format:'%Y/%m/%d %H:%M:%S' --pretty=format:'%Cred%h%Creset - %Cgreen[%cd]%Creset %C(bold blue)<%an>%Creset %C(yellow)%d%Creset %s' --first-parent
	l   = log --graph --date-order --date=format:'%Y/%m/%d %H:%M:%S' --pretty=format:'%Cred%h%Creset - %Cgreen[%cd]%Creset %C(bold blue)<%an>%Creset %C(yellow)%d%Creset %s'
	lfa = log --graph --date-order --date=format:'%Y/%m/%d %H:%M:%S' --pretty=format:'%Cred%h%Creset - %Cgreen[%cd]%Creset %C(bold blue)<%an>%Creset %C(yellow)%d%Creset %s' --all --first-parent
	la  = log --graph --date-order --date=format:'%Y/%m/%d %H:%M:%S' --pretty=format:'%Cred%h%Creset - %Cgreen[%cd]%Creset %C(bold blue)<%an>%Creset %C(yellow)%d%Creset %s' --all

[credential]
	helper = store

[delta]
	navigate = true
	line-numbers = true
	# map-styles = bold purple => syntax magenta, bold cyan => syntax blue

[ghq]
	root = ~/projects
